<?xml version="1.0" ?>

<robot name="eboat" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- base_link (eboat_core/hull) -->
  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <xacro:include filename="eboat.gazebo"/>

  <!-- Import Rviz colors -->
  <!--<xacro:include filename="materials.xacro"/>-->

  <!-- Include macros for dynamics plugins -->
  <xacro:include filename="$(find eboat_description)/urdf/macros.xacro"/>

  <!-- Attach hydrodynamics plugin -->
  <xacro:usv_dynamics_gazebo name="seboat_dynamics_plugin"/>

  <!-- Attach lift&drag plugin for sail -->
  <xacro:eboat_sail_gazebo name="eboat_sail"/>

  <!-- Attach lift&drag plugin for the windsock -->
  <xacro:eboat_biruta_gazebo name="eboat_biruta"/>

  <xacro:include filename="eboat.urdf.xacro"/>

</robot>